<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.khiancode.traveltrang">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- <uses-feature -->
    <!-- android:glEsVersion="0x00020000" -->
    <!-- android:required="true"/> -->
    <application
        android:name=".SetFonts"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD-Qn8BpQM54YtdqjqFUyzeICrP6dI9mFw" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EmailSignInActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".EmailSignUpActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".PlaceActivity"
            android:label="สถานที่"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailTravelActivity"
            android:label="@string/title_activity_place"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShowPictureActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShowPictureTripActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScrollingTripActivity"
            android:label="@string/title_activity_scrolling_trip"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScrollingUserTripActivity"
            android:label="@string/title_activity_scrolling_trip"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScrollingDiaryActivity"
            android:label="@string/title_activity_scrolling_trip"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailCustomerTripDayActivity"
            android:label="สถานที่ท่องเที่ยว"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailTripDayActivity"
            android:label="สถานที่ท่องเที่ยว"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailUserTripDayActivity"
            android:label="@string/title_activity_detail_trip_day"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SelectTravelActivity"
            android:label="เลือกสถานที่ท่องเที่ยว"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".UpdateImageActivity"
            android:label="ไดอารี่" />
    </application>

</manifest>